[2019-12-05 21:16] sesheta opened #5 "Test ticket from Code Climate"

[2019-12-06 07:18] #5 closed

[2020-04-17 08:03] todo[bot] opened #8 "check number of solvers"
https://github.com/thoth-station/integration-tests/blob/7501a022601f6eb8579d3f56690fdb2f9b223e35/features/steps/python_package_solved.py#L42-L47

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7501a022601f6eb8579d3f56690fdb2f9b223e35 when #7 was merged. cc @pacospace.

[2020-04-24 15:19] #8 closed

[2020-06-02 12:57] saisankargochhayat opened #9 "Create DB check tests"
Test 1 - Create test to check if can connect to DB.
Test 2 - Create test to check if DB Schema is up-to date.

API up check is handled in the existing tests.

[2020-06-05 06:52] #9 closed

[2020-06-08 08:03] goern opened #12 "integration test: different architectures"
create a feature for https://trello.com/c/kbSj32fj/976-add-support-for-differnet-architectures-nokr?menu=filter&filter=label:demo

[2020-07-17 08:24] goern opened #20 "Create integrations tests for SI [13pt]"
- si workflow on new package_version
- without adviser
- using adviser with recommendation type security

[2020-07-29 14:54] goern opened #24 "AMUN API HOST unset"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. clone this repo
2. run `./test.sh`

[2020-07-29 14:55] goern commented on #24
/kind bug
/priority important-urgent

[2020-07-29 14:55] sesheta commented on #24
@goern: The label(s) `priority/important-urgent` cannot be applied, because the repository doesn't have them

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/24#issuecomment-665713780):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or s

[2020-07-29 14:59] goern opened #25 "Amun integration test fails for ocp-test"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. clone this repo
2. run `./test.sh`

/assign @bissenbay
/king bug
/priority critical-urgent

[2020-07-29 19:27] bissenbay commented on #25
I think these 2 PRs should fix: https://github.com/thoth-station/amun-client/pull/137 and https://github.com/thoth-station/integration-tests/pull/26

[2020-07-30 06:44] #24 closed

[2020-07-30 11:12] goern commented on #25
looks like the fix has not been deployed: https://github.com/thoth-station/thoth-application/commit/434a422f9fbff310d3677800821f0e6f2560ad3a

[2020-07-30 11:19] goern commented on #25
even with `X-Amun-Version: 0.7.2+storage.0.24.4.common.0.14.2` being deploy the test fails, pls double check. thx!

[2020-07-30 16:15] harshad16 commented on #25
The new release of amun-api was scheduled based on this , now version v0.7.3 should have the content of pr 475 and other update PR's.  This should fix the issue.

[2020-07-30 16:50] bissenbay opened #27 "Kebechet update"

[2020-07-30 16:51] bissenbay commented on #25
This should fix: https://github.com/thoth-station/integration-tests/issues/27

[2020-07-30 17:02] sesheta commented on #27
Closing this issue as it is no longer relevant for the current master with SHA 260b6d8ef3b9465678e36025e245cd1e7fea1c10.

[2020-07-30 17:02] #27 closed

[2020-07-30 17:42] harshad16 opened #30 "Prow is not merging PR."
**Describe the bug**
Prow tide is not merging the PR's even though all the compliance has been met.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a PR and check the merge feature

**Expected behavior**
Prow tide merges PR, once the pr is been approved

**Additional context**
#29  #23

[2020-07-31 13:18] bissenbay commented on #25
@goern @fridex @harshad16 I think this is solved because I run `./test.sh` and `Feature: Aggregating Build Logs` has passed.

[2020-08-03 07:05] fridex commented on #25
Feel free to close this if all is fine.

[2020-08-03 13:25] #25 closed

[2020-08-03 15:11] goern opened #33 "validate that test and stage provide TLS endpoints"
validate that
- [ ] user, management, amun api in test, stage provide HTTPS
- [ ] test.sh is configured for HTTPS

[2020-08-03 16:38] harshad16 commented on #33
These routes are available in openshift ocp cluster with latest certs
https://amun.test.thoth-station.ninja/api/v1/ui
https://amun.stage.thoth-station.ninja/api/v1/ui

however, it feels like we need to check the route53 configuration.

[2020-08-03 16:54] bissenbay commented on #33
For me, it says: `Application is not available`.
The application is currently not serving requests at this endpoint. It may not have been started or is still starting.

[2020-08-25 07:13] goern commented on #33
is this fixed?

[2020-08-25 11:20] #30 closed

[2020-08-25 11:21] goern opened #35 ""Scenario: Querying for Python package versions solved" failes"
[code]

[2020-08-25 11:22] goern opened #36 ""Scenario: Run a simple thamos advise for a flask application for raw HTTP connection" fails"
[code]

[2020-08-25 11:22] goern commented on #36
/priority important-urgent
/kind bug

[2020-08-25 11:22] sesheta commented on #36
@goern: The label(s) `priority/important-urgent` cannot be applied, because the repository doesn't have them

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/36#issuecomment-679965544):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or s

[2020-08-25 11:23] goern commented on #35
/priority critical-urgent
/kind bug

[2020-08-25 11:27] fridex commented on #36
We no longer support `limit_latest_versions`. It looks like `thamos` is too old.

[2020-08-25 11:30] fridex commented on #36
Related: https://github.com/thoth-station/integration-tests/pull/37#issue-473135691

[2020-08-25 15:18] bissenbay commented on #36
@fridex I did remove `limit_latest_versions` on line https://github.com/thoth-station/integration-tests/blob/master/features/steps/basic.py#L80 and still getting the error:
[code]
But, this time it's not `BAD REQUEST`, but `INTERNAL SERVER ERROR`, it's this because of changes made in https://github.com/thoth-station/amun-client/pull/143?

[2020-08-26 08:08] fridex commented on #36
I think the `limit_latest_version` issue went away with the amun-client update. My wild guess is that the issue you are experiencing is related to this one https://github.com/thoth-station/user-api/issues/1007 The workflow errored for some reason and API failed to produce reasonable error response which should be fixed in https://github.com/thoth-station/user-api/pull/1009 Now the question is why

[2020-08-26 08:11] fridex commented on #36
Checking old workflows, many of them failed due to unsufficient resources. I'll try to experiment with new argo which should handle resources in a better way.

[2020-08-26 12:47] fridex commented on #36
Observations after few experiments:

adviser workflow was failing due to resources. Even though there were resources available on the workflow start, if there was a parallel kebechet workflow, it eated up resources needed for adviser workflow and hence adviser workflow failed. With old Argo workflow-controller v2.9.5, Argo was not able to recover from these resources issues. I installed community

[2020-08-26 13:13] bissenbay commented on #33
If you just follow those links they don't work, but if you prepend `https://` then they work.

[2020-08-26 14:29] bissenbay commented on #36
@fridex Do you want me to push PR where I removed `limit_latest_versions`?

[2020-08-26 19:11] fridex commented on #36
Yes, please do so. It is no longer supported.

[2020-08-31 20:19] bissenbay commented on #33
@goern
For me, all the following endpoints work, so I think we can tick the first task:
1. https://test.thoth-station.ninja/api/v1/ui/
2. https://management.test.thoth-station.ninja/api/v1/ui/
3. https://amun.test.thoth-station.ninja/api/v1/ui/
4. https://stage.thoth-station.ninja/api/v1/ui/
5. https://management.stage.thoth-station.ninja/api/v1/ui/
6. https://amun.stage.thoth-station.ninja/api/v1

[2020-08-31 21:53] bissenbay commented on #35
If we request https://management.stage.thoth-station.ninja/api/v1/solvers `stage` env, then it works good, but if we request`test` env https://management.test.thoth-station.ninja/api/v1/solvers, then fails. Looks some problem in how `usera-api` for test is deployment. @fridex

[2020-09-01 16:52] goern commented on #35
what is the problem? any logs?

[2020-09-02 02:15] bissenbay commented on #35
[code]
So, looks like `management-api` is running from this image https://quay.io/repository/thoth-station/management-api/manifest/sha256:5c222b4f30b2deaef16087774dcf127f70310718995ad440dd6d87345e024d4c which is old, so should I update to the latest?

[2020-09-02 04:55] fridex commented on #35
This should be already fixed with recent versions of management-api. I guess a rollout needs to be triggered for the test environment?

[2020-09-02 06:03] fridex commented on #35
Triggered, test is running the most recent user-api/management-api.

[2020-09-02 13:49] #33 closed

[2020-09-02 13:49] goern commented on #36
fixed?

[2020-09-02 14:41] bissenbay commented on #35
Thanks, this can be closed, as https://management.test.thoth-station.ninja/api/v1/solvers working now.

[2020-09-02 14:41] #35 closed

[2020-09-02 15:45] fridex opened #40 "Kebechet update"

[2020-09-02 15:52] sesheta commented on #40
Closing this issue as it is no longer relevant for the current master with SHA a9d842831f62ac46892bc1ac16446a717ac10822.

[2020-09-02 15:52] #40 closed

[2020-09-10 12:50] goern opened #42 "integration test for solvers [5pt]"
As a Developer,
I want to run a solver feature test,
so that I can test if a specific package_version is resolved for all solvers configured

**Acceptance Criteria**
- [ ] documented which package is best for testing aka failing a lot (ask @fridex)
- [ ] think about opening github issues on failed test

[2020-09-11 18:09] fridex commented on #42
Based on the discussion on the call, we miss this integration test. Not implemented yet.

[2020-09-12 23:39] bissenbay commented on #42
@fridex What package do you think is failing a lot?

[2020-09-14 18:46] fridex commented on #42
It would be good to query the database to have an answer to this. Not sure if we want to have most failing here though as solvers will not succeed in that case. You can pick one that is solvable, schedule solver analyses via management-api, mark solver id that is respobsible for solving the package, and then try to obtain solver results (again, from management-api).

[2020-09-15 15:42] goern commented on #42
sounds like a good first step!

[2020-10-03 14:18] goern opened #47 "adviser integration tests fail on MOC"
**Describe the bug**
Prow job https://prow.thoth-station.dev/prowjob?prowjob=7fa2eb46-057f-11eb-a5dd-6e8ac1360692 is executing an integration test against MOC deployment. http://argo-ui-thoth-amun-inspection-prod.k-apps.osh.massopen.cloud/workflows that the workflow hangs. It seems to be related to a secret being unmountable, maybe a failed build is also the root cause.

[2020-10-03 14:18] goern commented on #42
what is the status with this?

[2020-10-03 14:18] goern commented on #36
what is the status of this?

[2020-10-05 00:10] bissenbay commented on #36
It fails with error below:
[code]

[2020-10-05 01:01] bissenbay commented on #36
This issue is also related: https://github.com/thoth-station/thoth-application/issues/535

[2020-10-05 06:25] pacospace opened #50 "Run a simple thamos advise for a flask application for raw HTTP connection feature fails"
**Describe the bug**
 Run a simple thamos advise for a flask application for raw HTTP connection feature fails

**To Reproduce**
Steps to reproduce the behavior:
1. Run `THOTH_USER_API_HOST=test.thoth-station.ninja THOTH_MANAGEMENT_API_HOST=management.test.thoth-station.ninja pipenv run behave -i features/thamos_advise.feature`

**Expected behavior**
Integration tests succeeds.

**Screenshots**
[c

[2020-10-05 06:27] fridex commented on #50
We no longer provide `exit_code` as part of the response

[2020-10-05 09:01] pacospace opened #52 "Introduce integrations tests for investigator"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-05 15:48] fridex commented on #50
I'll reopen this until the wait mechanism is in place.

[2020-10-06 18:26] harshad16 commented on #47
isnt this related to amun ?

[2020-10-06 19:07] harshad16 commented on #47
the amun issue is now fixed, was caused by the unfound secrets, updated that.
![integration-test](https://user-images.githubusercontent.com/14028058/95248491-fd8b0480-0834-11eb-917c-f82104e1a76d.png)

working on the adviser run failure.
![moc-adviser](https://user-images.githubusercontent.com/14028058/95248618-3034fd00-0835-11eb-898e-ec2ecb8c95a8.png)

some are caused due to old images, updating t

[2020-10-06 19:20] harshad16 commented on #47
Looking at the logs, of each workflow, the issue occurred are as follows:
The workflow run for this particular execution in the prod cluster had adviser-id: `adviser-d57a1d98`

- advise: following the logs of the pods. it was directed in the log to this justification: https://thoth-station.ninja/j/error_logs
   Along the direction specified will open the issue in adviser.
- investigator-producer:

[2020-10-07 09:00] fridex commented on #47
What are the logs of adviser? Are there data available to successfully run a resolution?

[2020-10-07 10:40] harshad16 commented on #47
the logs were attached in an issue, created in adviser for tracking.
and no the data is not available need to wait for ingestion to complete.

[2020-10-07 10:41] fridex commented on #47
Thanks :+1:

[2020-10-09 10:47] harshad16 opened #55 "checking db connection directly via integration test not the best approach"
**Describe the bug**
In the integration test, the feature to check the db connection is not the best approach.
https://github.com/thoth-station/integration-tests/blob/d47eda11daa3b68473fc376fc61ae2a60e3ee3d7/features/db_status.feature#L1

Directly trying to connect via storages, is not feasible. As we don't open our db connection outside the cluster, so integration tests running through CI which i

[2020-10-27 20:57] goern commented on #55
we should exclude that feature via a tag?!

[2020-10-27 20:57] goern commented on #47
@bissenbay any update on this?

[2020-10-27 20:58] goern commented on #50
@bissenbay any update on this?

[2020-10-27 21:00] goern commented on #52
@bissenbay any update on this?

[2020-10-28 07:29] harshad16 commented on #47
we should run this integration test on stage first, if the adviser run passes, we can update the production with respect to it and then proceed with the adviser run integration test in production.
as of now, in production, we don't have relevant data available for this particular adviser run which is included in the integration test.

[2020-10-28 07:29] harshad16 commented on #55
yes, that should be good as we can have the db connection check enable for local tests. :+1:

[2020-10-30 14:39] goern commented on #50
https://github.com/thoth-station/thoth-application/issues/568 might talk about the root cause for this

[2020-11-03 17:12] bissenbay commented on #36
@goern @fridex When we schedule an integration test for thamos advise feature, should we only expect `200`, otherwise fail the test like it is correctly implemented? Or can we change the logic, so that having `404` error should pass the test as well?

[2020-11-03 17:31] fridex commented on #36
404 is a bug on our side. The test should fail.

[2020-11-04 08:32] goern commented on #47
@bissenbay any update on this?

[2020-11-04 08:33] goern commented on #55
/kind feature
/assign @bissenbay

[2020-11-04 12:20] harshad16 commented on #47
i guess this is on me, i will update the data in moc production.
and @bissenbay  then you would be able to verify.

[2020-11-05 11:07] goern commented on #20
@bissenbay any progress on this?

[2020-11-11 16:35] #55 closed

[2020-11-11 21:01] #42 closed

[2020-11-12 09:56] goern opened #65 "provenance check fails on moc"
**Describe the bug**
https://prow.thoth-station.dev/log?job=integration-tests-moc&id=1326707853225889792

/kind bug
/label deployment_name/moc
/assign @bissenbay

[2020-12-03 17:26] bissenbay commented on #36
@fridex Can we close this issue?

[2020-12-03 19:21] fridex commented on #36
Yes :+1:

[2020-12-03 19:21] #36 closed

[2021-01-26 07:24] pacospace opened #70 "create integration test for Kebechet internal trigger"
**Is your feature request related to a problem? Please describe.**
As Thoth developer,

I want to have an integration test for Kebechet internal trigger.

Feature:

- If I send a CVE message to investigator a PR with new software stack advised by thoth is created
- if a new package is reelased, it should trigger security workflow

Reference: https://github.com/thoth-station/kebechet/issues/584

[2021-02-04 14:16] goern opened #73 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-02-04 14:22] khebhut[bot] opened #74 "No version identifier found in sources to perform a release"
Automated version release cannot be performed.
Related: #73

[2021-02-08 19:50] #74 closed

[2021-02-08 19:50] #73 closed

[2021-02-08 19:50] goern opened #77 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-02-10 08:01] #65 closed

[2021-02-10 08:02] goern opened #79 "integration test fail"
**Describe the bug**
integration test fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://prow.operate-first.cloud/log?job=integration-tests-moc&id=1359382711579447296

**Expected behavior**
integration-tests pass ;)

/kind bug
/label deployment_name/moc

[2021-02-10 08:06] #77 closed

[2021-02-10 08:22] fridex opened #80 "Remove hardware and software environments, use s2i endpoints instead"
**Is your feature request related to a problem? Please describe.**

Running integration tests against recent changes in user-api fail with the following error:

[code]

**Describe the solution you'd like**

As software and hardware environment endpoints were removed, we should remove these tests. Rather, we should introduce s2i specific tests to test new endpoints introduced

[2021-02-10 17:19] #80 closed

[2021-02-10 19:48] goern opened #93 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-02-10 20:03] #93 closed

[2021-02-10 20:04] goern opened #95 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-02-10 20:08] #95 closed

[2021-02-11 11:26] fridex opened #101 "Test correct handling of credentials in container image analysis"
**Is your feature request related to a problem? Please describe.**

One of the missing scenarios we do not cover in our tests is credentials handling for container image analyses.

[2021-02-12 16:35] fridex opened #111 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-02-12 16:48] #111 closed

[2021-02-13 09:53] goern opened #114 "thoth-application/issues/902 coverage"
**Is your feature request related to a problem? Please describe.**
create integration test to cover https://github.com/thoth-station/thoth-application/issues/902

/kind feature

[2021-02-13 09:55] goern opened #115 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-02-13 10:04] #115 closed

[2021-02-15 07:46] fridex opened #117 "HTML report shown in GMail does not execute JS code"
**Is your feature request related to a problem? Please describe.**

As we send results of integration tests via e-mail, javascript in the HTML is not executed. This makes it impossible to collapse HTML parts, show error messages, and stuff like that.

**Describe the solution you'd like**

We could send the HTML file in an attachment as well. This way users can download the report and browse it if

[2021-02-15 08:20] #114 closed

[2021-02-15 11:48] #117 closed

[2021-02-16 20:11] fridex opened #120 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-02-16 20:29] #120 closed

[2021-02-17 06:23] goern opened #125 "missing e2e-test script"
**Describe the bug**
integration-tests container image is missing the `e2e-test.sh` to run the tests as a Prow Job. Alternatively, it could be called in a different way at https://github.com/thoth-station/thoth-application/blob/master/prow/overlays/cnv-prod/config.yaml#L308

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://prow.operate-first.cloud/log?job=integration-tests-moc&id

[2021-02-17 06:23] goern commented on #125
/kind bug

[2021-02-17 13:55] fridex opened #126 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.6.0

[2021-02-17 14:02] sesheta commented on #126
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/integration-tests:v0.6.0](https://quay.io/thoth-station/integration-tests:v0.6.0)

[2021-02-17 14:02] #126 closed

[2021-02-18 07:02] fridex opened #128 "Container image analysis scenario fails"
**Describe the bug**

[code]

**To Reproduce**

This applies to stage and test environment.

**Expected behavior**

Container image analysis should be successful.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

[2021-02-18 07:04] fridex opened #129 "Submitting to amun fails in test"
**Describe the bug**

[code]

**To Reproduce**

Run integration-tests against test environment.

[2021-02-18 07:06] fridex opened #130 "Querying Thoth for Python package metadata fails in test environment"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Ask for TensorFlow metadata in test environment
2. See the error

**Expected behavior**

Package metadata should be provided.

[2021-02-18 07:06] fridex commented on #130
Looks like a bug in response schema:

[code]

[2021-02-18 07:08] fridex opened #131 "Querying Thoth to obtain Python platform information fails in test"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run the scenario
2. See the error

**Expected behavior**

Results should be available on API endpoitns.

[2021-02-18 07:08] fridex commented on #131
This issue is caused by https://github.com/thoth-station/storages/issues/2181

[2021-02-18 07:13] fridex opened #132 "Tag tests which require available namespaces to succeed"
**Is your feature request related to a problem? Please describe.**

When running integration tests against deployment that has namespaces busy with the already scheduled workload, they timeout from time to time as the namespace is not available.

**Describe the solution you'd like**

Tag tests that require available resources and run them coniditionally based on configuration.

[2021-02-18 09:13] fridex commented on #129
Looks like readiness is failing often:

``
Readiness probe failed: Get "http://172.20.8.198:8080/readiness": context deadline exceeded (Client.Timeout exceeded while awaiting headers)
[code]

[2021-02-18 09:33] fridex commented on #128
The issue is caused by schema validation, the response is not valid:

[code]

[code]

[2021-02-18 09:50] fridex commented on #128
Fix in https://github.com/thoth-station/common/pull/1113 thoth-common with the fix needs to be propagated to user-api to fix this.

[2021-02-19 07:14] #128 closed

[2021-02-19 07:16] #130 closed

[2021-02-19 11:01] goern commented on #125
/assign

[2021-02-22 15:33] #125 closed

[2021-02-23 08:39] fridex opened #139 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-02-23 09:14] goern opened #141 "return behave return code"
As a ProwJob,
I would like to get the behave test return code returned by app.py,
so that I can make the integration test as pass or fail

might be around https://github.com/thoth-station/integration-tests/blob/4a9ac360004e3ca88142ff2f10ca7cf3fafba65b/app.py#L97

/kind feature
/assign @fridex
/sig devops

[2021-02-23 12:10] #141 closed

[2021-02-23 12:11] #139 closed

[2021-02-23 12:14] fridex commented on #132
Already implemented in the master branch and configured in deployments. Will test once 0.7.0 will be delivered to test.

[2021-02-23 12:14] #132 closed

[2021-02-23 12:14] fridex commented on #132
Already implemented in the master branch and configured in deployments. Will test once 0.7.0 will be delivered to test.

[2021-02-23 12:16] fridex commented on #129
Amun API looks more stable now. I will close this.

[2021-02-23 12:16] #129 closed

[2021-02-23 12:18] fridex commented on #52
I will close this one. The advise scenarios and package-extract scenarios involve investigator being up to serve user requests. Feel free to reopen if more testing or any more specific tests are needed.

[2021-02-23 12:18] #52 closed

[2021-02-23 12:19] fridex commented on #12
This should be covered by the platform test. I will close this one - even though the test is present, it fails. The progress is tracked in https://github.com/thoth-station/integration-tests/issues/131

[2021-02-23 12:19] #12 closed

[2021-02-23 12:20] fridex commented on #50
The linked issue is fixed now, I'm also able to resolve flask in test/stage/prod environments. Feel free to reopen this one if the issue persists.

[2021-02-23 12:20] #50 closed

[2021-02-23 12:20] fridex commented on #47
I will close this one, it looks stalled. The issues discussed are fixed now. Thanks for the report!

[2021-02-23 12:20] #47 closed

[2021-02-23 13:08] fridex opened #146 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.7.0

[2021-02-23 14:23] sesheta commented on #146
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/integration-tests:v0.7.0](https://quay.io/thoth-station/integration-tests:v0.7.0)

[2021-02-23 14:23] #146 closed

[2021-02-24 10:14] fridex opened #149 "No runtime environment with name 'download-dataset' was found in the configuration file for hoth-station/elyra-aidevsecops-tutorial"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to test environment
2. Trigger integration tests
3. See the error

**Expected behavior**

Integration test should succeed.

[2021-02-24 14:14] #149 closed

[2021-02-24 14:15] todo[bot] opened #151 "substitute with config.reset_config() once new thamos is released"
https://github.com/thoth-station/integration-tests/blob/4554df5f08478f0ca3e7ce0e75130b7f0081b4d0/features/steps/advise.py#L240-L243

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 4554df5f08478f0ca3e7ce0e75130b7f0081b4d0 when #150 was merged. cc @fridex.

[2021-02-24 14:15] fridex opened #152 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-02-24 14:15] fridex commented on #152
CC @harshad16

[2021-02-24 16:40] #152 closed

[2021-03-01 10:13] fridex opened #156 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-03-01 19:38] khebhut[bot] opened #157 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 1afe5dd551211e72bd6e94073127769dd0a768c2.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2021-03-01 19:38] #156 closed

[2021-03-01 22:53] fridex opened #158 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-03-01 23:03] #157 closed

[2021-03-01 23:03] #158 closed

[2021-03-03 16:04] fridex opened #160 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-03-03 17:38] #160 closed

[2021-03-08 08:58] fridex opened #163 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-03-08 09:02] #163 closed

[2021-03-19 14:26] pacospace opened #165 "Add more stacks in integration tests to compare latency respect to other resolution engines"
**Is your feature request related to a problem? Please describe.**
As Thoth Developer,

I want to verify the latency for obtaining stacks recommended by thoth to be sure users can receive answers in time.
These results can be compared with other resolution engines (e.g. pipenv)

**Describe the solution you'd like**
Add them to https://github.com/thoth-station/integration-tests/tree/master/features

[2021-03-19 15:26] pacospace commented on #165
- [ ] Create a notebook analyzing adviser reports considering properties of an advise respect to time respect to software stack size
- [ ] Create new integration test for stack that need to be monitored based on  adivser users (Data Driven Engineering)

[2021-03-22 20:10] pacospace commented on #165
[code]

cc @fridex @harshad16 @goern

[2021-03-22 20:35] harshad16 commented on #165
we can started with increasing the resource for adviser and then check in the pipeline which component is taking the most time after adviser.
The general recommendation pipeline steps are: `user-request->user-api->kafka->investigator-consumer->adviser-workflow`

[2021-03-22 20:38] pacospace commented on #165
from adviser logs:
[code]

[2021-03-22 20:58] pacospace commented on #165
This time response obtained in s 573.9063466049993 -> less then 10 minutes

[2021-03-22 21:10] fridex commented on #165
Note the design of adviser - it is not resolver as Pipenv or others. It resolves multiple lock files (stacks), evaluates their score, and learns from that. Certain CPU time is allocated for this process to work - see docs for more info:

https://thoth-station.ninja/docs/developers/adviser/deployment.html#allocating-cpu-time

Currently we give 15 minutes adviser to finish based on the configuration

[2021-03-22 21:20] pacospace commented on #165
why for thamos we have more than double for timeout? https://github.com/thoth-station/thamos/blob/dd50f2a2ba76a3257220ae665614108c07c84c50/thamos/lib.py#L75

[2021-03-22 21:22] fridex commented on #165
As the request for users are queued and it requires some time for the request to be processed. The timeout also considers non-empty namespace when we need to serve other users first (first come first served).

[2021-03-30 13:34] pacospace opened #168 "Should we change integrations tests to run every some time to invalidate cache and recompute new results?"
Related-To: https://github.com/thoth-station/thoth-application/issues/1112

Reduce the time to 2 hours? Untile we implement some automated way: https://github.com/thoth-station/thoth-application/issues/1129

[2021-04-08 09:50] #151 closed

[2021-04-13 13:06] goern opened #171 "print versions under test to test report"
**Is your feature request related to a problem? Please describe.**
As a Thoth DevOps,
I want to see an integration test report,
so that I can easily read the versions of API under test

**Describe the solution you'd like**
just add to the report, HTML and text

**Describe alternatives you've considered**
n/a

**Additional context**
This shall be the input to the release planning meeting.

/kind fe

[2021-04-13 13:33] fridex commented on #171
Depends-On: https://github.com/thoth-station/thoth-application/issues/609

[2021-04-14 17:44] goern opened #173 "implement step definitions for undefined steps"
@then(u'I should be able to see results of advise in the cloned application')
def step_impl(context):
    raise NotImplementedError(u'STEP: Then I should be able to see results of advise in the cloned application')

/kind feature

[2021-04-14 17:44] goern commented on #173
/label hacktoberfest

[2021-04-16 13:21] harshad16 opened #175 "Include test for executing thamos advise on opencv containing software stack"
**Is your feature request related to a problem? Please describe.**
- It would be great if we include a test that executes thamos advise on a OpenCV containing software stack.
Chat thread link: https://chat.google.com/room/AAAA9x27brI/jECRY0jGUrU

**High-level Goals**
list of high-level Acceptance Criteria/Goals (that is signed off by the team, and unchangeable)
- High availability of the advice, a

[2021-04-16 21:57] goern commented on #175
/kind feature
/priority important-soon

[2021-04-17 06:26] sesheta commented on #20
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-19 09:02] fridex commented on #20
I think we can close this. We have unit tests for security indicators that verify their correctness on the adviser level. Then we have integration tests that verify the correctness of adviser in a deployment.

/close

[2021-04-19 09:02] sesheta commented on #20
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/20#issuecomment-822302505):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/

[2021-04-19 09:02] #20 closed

[2021-04-19 09:03] fridex commented on #20
Oh, now I see it was related to a new package release.

[2021-04-19 09:04] fridex commented on #20
Add a note to internal trigger tests that should verify this: https://github.com/thoth-station/integration-tests/issues/70

[2021-04-21 15:04] goern opened #176 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-04-21 15:15] #176 closed

[2021-04-22 16:57] pacospace opened #179 "Error analysis of failed adviser in the period 2021-04-15 - 2021-04-22"
From these reports, we could obtain more integration tests to be added. (we can automate it and open a PR every week in a repo.

[code]

[2021-04-23 11:09] goern commented on #179
let's add a few more stacks (I guess that is what you mean) ?

/priority importnant-soon
/label triage/needs-information

[2021-04-23 11:09] sesheta commented on #179
@goern: The label(s) `priority/importnant-soon` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/179#issuecomment-825584288):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or

[2021-04-23 11:12] goern commented on #179
/priority important-soon

[2021-04-23 12:01] pacospace commented on #179
we can add a folder `stacks-tests` in integrations-tests?

[2021-04-25 10:55] goern opened #181 "(local) test tail with OSError"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. check out repo
2. `pipenv shell`
3. `./app.py`
4. See error

**Expected behavior**
no errors

**Additional context**
[code]

/kind bug
/assign @fridex
/label deployment/zero-prod

[2021-04-25 10:55] sesheta commented on #181
@goern: The label(s) `/label deployment/zero-prod` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/zero-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, sig/advi

[2021-04-26 09:49] fridex commented on #179
Thanks for this analysis.

Could you please provide info on deployment where I can find corresponding adviser documents? This will require more info (recommendation type, `dev` flag value, ...) to debug.

[2021-04-26 10:06] fridex commented on #179
Oh, never mind. Found it on moc :)

[2021-04-26 10:45] pacospace commented on #179
Good point :) I'll add that to the report!

[2021-04-26 18:06] fridex commented on #179
Some of these are using rhel:8+py38 - we should check the state of the ingestion.

These are using rhel:8+py36:

[code]

Tried to resolve them with the test environment data, it looks like they work (tested with dev and without dev environment).

Let's revisit this issue once rhel:8+py38 data will be available.

[2021-04-28 08:43] pacospace commented on #179
How is possible if test environment data is a subset of prod environment data? @fridex

[2021-04-28 08:47] pacospace commented on #179
For the flask task, it is actually random, if you check the successfull adviser runs in the same period, you can see that sometimes succeeds, sometimes not:

[code]

[2021-04-30 11:15] goern opened #182 "test metadata service"
As a User of Thoth Service,
I want to retrieve the metadata of the latest TensorFlow version published on PyPI
so that I can verify which indices contain TF,
and so that I can see thoth's information on TF

/kind feature

[2021-05-01 18:48] goern commented on #182
what about an additional when-implementation:

[code]

the test would more be like testing that our data is good, rather than the API itself.

[2021-05-04 03:54] harshad16 commented on #79
while checking on this.

1. amun test is failing due to storage.
[code]

ceph connection is breaking:
[code]

working on this.

[2021-05-04 20:31] harshad16 commented on #79
provenance check is getting stuck at this part:
[code]

[2021-05-04 20:52] harshad16 commented on #79
After the fix of provenance check:
[code]

[2021-05-07 18:48] harshad16 opened #192 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-05-07 19:06] #192 closed

[2021-05-12 11:34] sesheta commented on #101
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-05-12 14:22] harshad16 commented on #179
https://github.com/thoth-station/adviser/issues/1846

[2021-05-12 14:23] harshad16 commented on #179
ongoing with https://github.com/thoth-station/integration-tests/issues/79

[2021-05-12 14:24] harshad16 commented on #179
https://github.com/thoth-station/reporter/issues/196

[2021-05-17 07:08] fridex commented on #173
Implemented in https://github.com/thoth-station/integration-tests/pull/189/

/close

[2021-05-17 07:08] #173 closed

[2021-05-17 07:08] sesheta commented on #173
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/173#issuecomment-842066885):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2021-05-19 10:17] sesheta commented on #131
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-05-19 10:18] fridex commented on #131
/remove-lifecycle stale

[2021-06-10 20:32] fridex commented on #131
Closing as the same issue is reported in https://github.com/thoth-station/storages/issues/2181

[2021-06-10 20:33] #131 closed

[2021-06-10 20:33] sesheta commented on #131
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/131#issuecomment-859036125):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2021-06-11 13:34] sesheta commented on #101
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-06-20 22:13] sesheta commented on #165
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-06-28 08:24] fridex opened #200 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-06-28 08:28] #200 closed

[2021-06-28 10:27] fridex opened #202 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-06-28 10:53] #202 closed

[2021-06-28 16:22] sesheta commented on #168
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-06-28 16:49] pacospace commented on #168
/remove-lifecycle stale

[2021-07-11 13:44] sesheta commented on #101
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-11 13:44] #101 closed

[2021-07-11 13:44] sesheta commented on #101
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/101#issuecomment-877802608):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-12 14:01] sesheta commented on #171
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-15 01:41] sesheta commented on #175
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 01:41] sesheta commented on #70
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 01:42] #70 closed

[2021-07-15 01:42] sesheta commented on #70
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/70#issuecomment-880323131):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2021-07-15 02:02] sesheta commented on #181
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 04:44] sesheta commented on #182
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 05:04] sesheta commented on #79
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 05:04] sesheta commented on #179
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 07:07] goern commented on #181
/close

[2021-07-15 07:07] sesheta commented on #181
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/181#issuecomment-880452634):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/

[2021-07-15 07:07] #181 closed

[2021-07-15 15:23] goern commented on #182
/remove-lifecycle rotten
/priority important-soon

[2021-07-15 15:23] goern commented on #175
/remove-lifecycle rotten

[2021-07-15 15:23] goern commented on #79
/remove-lifecycle rotten

[2021-07-20 22:45] sesheta commented on #165
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-20 22:45] #165 closed

[2021-07-20 22:45] sesheta commented on #165
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/165#issuecomment-883754037):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-28 17:07] sesheta commented on #168
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-28 17:07] #168 closed

[2021-07-28 17:07] sesheta commented on #168
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/168#issuecomment-888474823):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-08-16 14:54] pacospace opened #204 "add integrations tests for ps-* stacks"
**Is your feature request related to a problem? Please describe.**
Users of ps-* stacks needs to receive advise on their stacks.

**High-level Goals**
list of high-level Acceptance Criteria/Goals (that is signed off by the team, and unchangeable)

**Describe the solution you'd like**
add integrations tests for ps-* stacks

**Describe alternatives you've considered**

**Additional context**
Add any

[2021-08-17 08:42] pacospace opened #207 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-08-17 08:48] #207 closed

[2021-08-17 08:51] fridex opened #208 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-08-17 09:09] #208 closed

[2021-08-23 17:42] sesheta commented on #171
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-23 17:42] sesheta commented on #171
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-23 23:42] sesheta commented on #179
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-23 23:42] sesheta commented on #179
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-23 23:43] #179 closed

[2021-08-23 23:43] sesheta commented on #179
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/179#issuecomment-904209088):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-08-24 05:42] sesheta commented on #175
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 05:42] sesheta commented on #182
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 05:42] sesheta commented on #182
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 05:42] sesheta commented on #79
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 05:42] sesheta commented on #79
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 05:42] sesheta commented on #175
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 05:42] #182 closed

[2021-08-24 05:43] #79 closed

[2021-08-24 05:43] sesheta commented on #182
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/182#issuecomment-904339047):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-08-24 05:43] sesheta commented on #79
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/79#issuecomment-904339056):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2021-08-24 05:43] sesheta commented on #175
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/175#issuecomment-904339050):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-08-25 11:07] fridex opened #212 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-08-25 11:24] khebhut[bot] opened #213 "Kebechet pipfile-requirements manager: FileNotFoundError - 8d17693b85"
## Description
This is an automated issue generated by Kebechet. The pipfile-requirements manager threw an exception (FileNotFoundError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
Traceback (most rece

[2021-08-25 11:31] khebhut[bot] opened #215 "Kebechet version manager: GithubException - f65a0fcde3"
## Description
This is an automated issue generated by Kebechet. The version manager threw an exception (GithubException) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
Traceback (most recent call last):

[2021-08-25 11:45] #212 closed

[2021-08-25 12:20] pacospace opened #216 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-08-25 12:22] #216 closed

[2021-09-15 17:26] sesheta commented on #204
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-15 17:26] sesheta commented on #204
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/204#issuecomment-920220058):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-22 20:30] sesheta commented on #171
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-22 20:30] sesheta commented on #171
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-22 20:30] sesheta commented on #171
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/171#issuecomment-925306450):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-23 12:42] goern commented on #204
/remove-lifecycle rotten
/reopen

[2021-09-23 12:42] sesheta commented on #204
@goern: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/204#issuecomment-925773856):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2021-09-23 12:43] goern commented on #171
/remove-lifecycle rotten
/reopen
/help

[2021-09-23 12:43] sesheta commented on #171
@goern: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/171#issuecomment-925774467):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2021-09-23 12:43] goern commented on #175
/remove-lifecycle rotten
/reopen

[2021-09-23 12:43] sesheta commented on #175
@goern: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/175#issuecomment-925775215):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2021-09-23 12:49] pacospace commented on #175
we added integration test for predictive stack with computer vision that have opencv, should we consider this done? https://github.com/thoth-station/integration-tests/pull/206/files

[2021-09-24 17:31] sesheta commented on #213
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 17:31] sesheta commented on #215
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 17:31] sesheta commented on #213
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 17:31] sesheta commented on #215
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 17:31] #213 closed

[2021-09-24 17:31] #215 closed

[2021-09-24 17:31] sesheta commented on #213
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/213#issuecomment-926802922):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-24 17:31] sesheta commented on #215
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/215#issuecomment-926802929):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-11-24 12:41] fridex opened #220 "New build release"

[2021-11-24 12:42] fridex commented on #220
CC @codificat

[2021-11-24 13:17] #220 closed

[2021-12-01 15:51] #204 closed

[2021-12-01 15:52] pacospace commented on #204
PR linked fixes this issue: https://github.com/thoth-station/integration-tests/pull/206

[2021-12-22 15:23] sesheta commented on #171
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-22 15:23] sesheta commented on #175
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-22 17:59] pacospace commented on #175
Cc @harshad16 we can close this I think ;)

[2021-12-22 17:59] #175 closed

[2022-01-04 17:12] fridex opened #225 "Some integration tests are getting old"
**Describe the bug**

It would be great to respect new API endpoints and make changes to respect the current implementation.

**To Reproduce**
Steps to reproduce the behavior:
1. See the current integration test results.

**Expected behavior**

Integration tests should be green.

**Additional context**

See for example tests involving metadata - they still use old metadata endpoint. Also, tests as

[2022-01-05 09:06] fridex opened #227 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2022-01-05 09:11] #227 closed

[2022-01-06 08:44] fridex opened #234 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-01-06 08:54] #234 closed

[2022-01-06 10:00] fridex opened #236 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.9.0

[2022-01-06 10:06] sesheta commented on #236
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/integration-tests:v0.9.0](https://quay.io/thoth-station/integration-tests:v0.9.0)

[2022-01-06 10:06] #236 closed

[2022-01-12 14:57] codificat commented on #225
/triage accepted
/priority critical-urgent

[2022-01-18 15:14] codificat commented on #225
Tests to improve:
- [ ] compare endpoints from the user-api with the current integration tests
- [ ] create issues for the enpoints that are outdated or missing

New Tests to add:
- [ ] kebechet: see thoth-station/kebechet#972
- [ ] search: create a separate issue.  search -> API  (there are unit tests covering advisor references to search)

Coverage will be reviewed in a meeting

[2022-01-19 14:17] Gkrumbach07 commented on #225
https://github.com/thoth-station/search/issues/49

[2022-01-21 15:25] sesheta commented on #171
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-26 11:19] fridex commented on #225
Let's see if we can incorporate also https://github.com/thoth-station/user-api/issues/1353 into some tests that could be run from time to time (maybe not daily but to make sure there are no perf regression - ex. db response in a reasonable time with indexes configured).

[2022-02-14 16:23] fridex opened #240 "Test cross-index resolution"
**Is your feature request related to a problem? Please describe.**

It would be great to have a test for a cross-index resolution.

[2022-02-14 16:23] fridex commented on #240
/assign

[2022-02-21 09:27] fridex opened #247 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-02-21 09:27] fridex commented on #247
/close

[2022-02-21 09:27] sesheta commented on #247
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/247#issuecomment-1046651529):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-02-21 09:38] fridex opened #248 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-02-21 09:52] #248 closed

[2022-02-21 14:46] mayaCostantini opened #250 "solver feature tests are failing because of solver documents not present on stage"
**Describe the bug**
When running tests for the `solver` feature on stage, the scheduling of solver analyses jobs fails with the following error:

[code]
The solver document `solver-rhel-8-py38-220221135642-63d012bf2e7f41b9` is present in `ocp4-stage`.
This is also the case with other packages with available solver documents (ex: `tensorflow` `2.7.0`) .

**To Reproduce**
Run integration tests for

[2022-02-21 14:49] mayaCostantini opened #251 "build_analysis tests are failing because of wrong openAPI specification"
**Describe the bug**

See https://github.com/thoth-station/user-api/issues/1672

[2022-02-21 19:27] mayaCostantini commented on #250
/priority critical-urgent

[2022-02-22 13:32] mayaCostantini opened #253 "Dependency Monkey tests are taking too long to complete"
**Describe the bug**

Integration tests for the `dependency_monkey` feature are failing because Adviser analysis took more than 15min to complete:

[code]

**To Reproduce**

Run `dependency_monkey` tests on stage and see the error.

**Expected behavior**

Adviser analysis is completed on time.

[2022-02-22 13:33] mayaCostantini commented on #253
/priority critical-urgent

[2022-02-23 09:37] mayaCostantini commented on #251
/priority critical-urgent

[2022-02-23 19:53] KPostOffice commented on #250
/assign @KPostOffice
/lifecycle active

[2022-02-23 20:35] fridex opened #254 "Some advise integration tests fail cloning repo"
**Describe the bug**

See errors from integration-tests reports:

[code]

[2022-02-23 20:39] fridex opened #255 "ocp-ci-analysis fail in integration tests"
**Describe the bug**

[code]

This is caused by `src` installation in the pipfile:

https://github.com/aicoe-aiops/ocp-ci-analysis/blob/d875c8715f175d9e0619876e550f98bcb464524d/Pipfile#L35

[2022-02-23 21:10] fridex opened #259 "No torchvision successfully solved"
**Describe the bug**

It looks like no torchvision release from https://download.pytorch.org/whl/cpu was solved successfully:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. See integration-tests for https://github.com/thoth-station/ps-cv

**Expected behavior**
Integration tests should succeed.

[2022-02-23 21:12] fridex commented on #259
Using UBI 8 Python 3.8:

https://github.com/thoth-station/ps-cv/blob/2925d451b4ee17b4126e0fd61e5ce252303ce291/.thoth.yaml#L14-L19

[2022-02-23 21:18] fridex commented on #259
Tried to debug the root cause:

[code]

[code]

Ends with the following error:

[code]

[2022-02-23 21:22] fridex commented on #259
It looks like the torchvision index does not provide links following the package name in the path:

https://download.pytorch.org/whl/cpu/torchvision-0.6.1%2Bcpu-cp35-cp35m-linux_x86_64.whl  -- works
https://download.pytorch.org/whl/cpu/torchvision/torchvision-0.6.1%2Bcpu-cp35-cp35m-linux_x86_64.whl -- does not work

See missing `torchvision` in the path.

[2022-02-23 21:27] fridex commented on #259
[PEP-503](https://www.python.org/dev/peps/pep-0503/) does not explicitly talk about the location, but given the following sentence:

[code]

The actual artifact location is not specified so constructing artifact URL based on the artifact name is not correct. We will need to fix this on our side.

[2022-02-23 23:55] KPostOffice commented on #250
I started looking into this. I ran the solver for `selinon` by sending a request to the `management api`. I expected it to fail. However, it succeeded. I ran the request again to determine whether the failure might be slightly flakey.

I ended up getting the following error:
```DETAIL:  Key (package_name, package_version, python_package_index_id, os_name, os_version, python_version)=(selinon, 1.0.

[2022-02-24 09:11] mayaCostantini commented on #254
For what deployment does this error happen? I ran the test on stage and the errors I get are related to the OpenAPI schema which has not been updated yet, but the `elyra-aidevsecops-tutorial` was cloned successfully.

[2022-02-24 09:13] fridex commented on #254
I took the error message from the e-mail report - `Integration tests update for ocp4-stage (2022-02-23 version 0.9.1)`

[2022-02-24 16:28] fridex commented on #250
This might most probably indicate that some solver data have changed and thus solver result fails to sync on integrity error - https://github.com/thoth-station/storages/issues/2308

[2022-02-24 17:03] fridex opened #262 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-02-24 17:39] #262 closed

[2022-02-24 17:41] fridex opened #264 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.9.2

[2022-02-24 17:44] sesheta commented on #264
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/integration-tests:v0.9.2](https://quay.io/thoth-station/integration-tests:v0.9.2)

[2022-02-24 17:44] #264 closed

[2022-02-24 20:19] KPostOffice commented on #250
@fridex From what you said here and looking at the source code, it looks like this behavior is intentional. It should be fine to just submit with the force param set, correct? This will delete the entry so that we can create a new entry with the updated metadata

[2022-02-24 20:37] fridex commented on #250
Sadly, we do not have that `force` sync implemented. The sync will always fail. When `force` is supplied, we should perform updates if entries exist in the database rather than trying to `get_or_create` entries (which causes the mentioned integrity error).

[2022-02-25 08:45] fridex commented on #259
The fix in https://github.com/thoth-station/python/pull/457 now correctly checks torch index and parses packages present there.

It looks like there is another issue. Checking the refresh job:
[code]

It correctly schedules solving 'torchvision' in version '0.11.3+cu111' from index 'https://download.pytorch.org/whl/cu111'. The solver scheduled fails:

[code]

Mind the missing `+cpu` part that is s

[2022-02-25 09:47] fridex opened #265 "Integration tests raise an exception at the end"
**Describe the bug**

[code]

[2022-02-25 15:30] mayaCostantini opened #266 "Adviser tests are failing because of allocated CPU time exceeded"
**Describe the bug**
Tests for the `thamos_advise` feature are producing the following error in stage:

[code]
**To Reproduce**
Steps to reproduce the behavior:
See last integration tests report for stage environment.

**Expected behavior**
Tests complete successfully.

[2022-02-25 15:30] mayaCostantini commented on #266
/priority critical-urgent

[2022-02-25 15:43] mayaCostantini commented on #253
@fridex it looks like the tests are still failing with the increased timeout, I think we need to try with a higher timeout or investigate to find out is there is another cause to this failure.

[2022-02-25 15:47] mayaCostantini commented on #265
/priority critical-urgent

[2022-02-25 16:30] mayaCostantini commented on #265
Not sure if this helps, but I found a related issue in the `swagger-codegen` repository: https://github.com/swagger-api/swagger-codegen/issues/6392, which was supposed to be fixed by the following PR: https://github.com/swagger-api/swagger-codegen/pull/6396.

However, this more recent issue: https://github.com/swagger-api/swagger-codegen/issues/9991 mentions that Python 3.8 does not support cleani

[2022-02-25 20:40] fridex opened #267 "Extend provenance-check integration test"
**Is your feature request related to a problem? Please describe.**

As of now, we have only one test covering provenance-checks. It would be great to cover also negative scenarios:

- when a hash of an artifact is adjust
- when hash of Pipfile is adjusted
- see https://thoth-station.ninja/docs/developers/adviser/provenance_checks.html for other possible checks

NOTE: this is tested on unit test le

[2022-02-27 22:49] mayaCostantini commented on #266
/kind bug

[2022-02-28 10:43] mayaCostantini opened #268 "Provenance check tests pass when `Pipfile.lock` is modified"
**Describe the bug**
Integration tests pass successfully when the `Pipfile.lock` file is modified for the `provenance_flask` example in the test scenario for the `thamos_provenance_check` feature.

**To Reproduce**
Modify `Pipfile.lock` (example: remove the `flask` section within `default` in the JSON) and run tests for the `thamos_provenance_check` feature. Observe that tests are still green afte

[2022-02-28 10:43] mayaCostantini commented on #268
/kind bug
/priority critical-urgent

[2022-02-28 11:35] fridex commented on #268
This will sadly not cause any provenance issue. The stack is no longer valid (users will not be able to run the application if they use such lock file), but the provenance is correct. To break provenance, one needs to have hashes that do we do not have recorded in our database. Or, use source of packages that we are not aware of (index that is not monitored).

[2022-02-28 12:09] mayaCostantini commented on #268
@fridex Thanks for the clarification, I am closing this issue then 👍🏻
/close

[2022-02-28 12:09] sesheta commented on #268
@mayaCostantini: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/268#issuecomment-1054192362):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2022-02-28 12:09] #268 closed

[2022-02-28 12:11] #267 closed

[2022-02-28 12:11] fridex commented on #259
Still spotted these issues:

[code]

It looks like we need to release new thoth-solver with https://github.com/thoth-station/python/pull/457

[2022-02-28 17:02] mayaCostantini commented on #265
/kind bug

[2022-02-28 18:30] fridex commented on #259
The linked fix addressed the issue. Let's keep this open until the next integration-tests report which should confirm the releases hosted on the index are available (I tested manually, it looks like it works as expected).

[2022-02-28 20:40] fridex opened #271 "Schema validation failed for elyra-aidevsecops-tutorial test"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. See integration test report `Integration tests update for ocp4-stage (2022-02-28 version 0.9.2)`

[2022-03-01 10:50] fridex commented on #259
/lifecycle active
/assign @fridex
/priority critical-urgent
/sig stack-guidance

[2022-03-01 10:50] fridex commented on #266
/sig stack-guidance
/priority critical-urgent

[2022-03-01 10:52] fridex commented on #271
/sig user-experience
/priority critical-urgent

[2022-03-01 10:53] fridex commented on #265
This is not impacting users, nice to have and worth checking what is wrong here.

/priority important-soon

[2022-03-01 11:00] mayaCostantini commented on #271
This [fix](https://github.com/thoth-station/user-api/pull/1682) should normally solve the OpenAPI schema issue. It was integrated in the [v0.34.7 of user-api](https://github.com/thoth-station/user-api/pull/1686), and stage already uses the [v0.34.8](https://github.com/thoth-station/thoth-application/blob/master/user-api/overlays/ocp4-stage/imagestreamtag.yaml). Should we still wait to see if the c

[2022-03-01 11:06] fridex commented on #271
I've just redeployed user-api in stage environment. It reports:

[code]

Maybe worth checking if the scenario is still failing.

[2022-03-01 11:10] fridex commented on #271
BTW the last report from `12:06 PM CET` has still this issue. Other test scenarios report this as well.

[2022-03-01 11:11] mayaCostantini commented on #271
/assign

[2022-03-01 12:12] mayaCostantini opened #273 "thamos.exceptions.TimeoutError: Thoth backend did not respond in time"
**Describe the bug**
The following error occurred for adviser tests on the `Run thamos advise on a Git repo -- @1.10 Advise` scenario:

[code]

**To Reproduce**
See last integration tests report (`Integration tests update for ocp4-stage (2022-03-01 version 0.9.2)` at 1:03PM CEST)

[2022-03-01 12:13] mayaCostantini commented on #273
/priority critical-urgent
/sig stack-guidance

[2022-03-01 12:15] mayaCostantini commented on #273
/priority critical-urgent
/sig stack-guidance

[2022-03-01 12:22] mayaCostantini commented on #271
/lifecycle active

[2022-03-01 12:44] mayaCostantini commented on #271
/close
The last integration tests report (`Integration tests update for ocp4-stage (2022-03-01 version 0.9.2)` at 1:03PM CEST) shows that the issue is solved for `elyra-aidevsecops-tutorial`.

[2022-03-01 12:50] #271 closed

[2022-03-01 12:51] mayaCostantini commented on #273
/priority critical-urgent
/sig stack-guidance

[2022-03-01 12:52] sesheta commented on #271
@mayaCostantini: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/271#issuecomment-1055405477):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2022-03-01 12:57] mayaCostantini opened #274 "Adviser tests for `rhods` are failing because of error in OpenAPI specification"
**Describe the bug**

The following error occurred for adviser tests on the `Run thamos advise on an application stack -- @1.3 Advise` scenario:

[code]

**To Reproduce**
See last integration tests report (`Integration tests update for ocp4-stage (2022-03-01 version 0.9.2)` at 1:03PM CEST)

[2022-03-01 12:58] mayaCostantini commented on #274
/priority critical-urgent
/lifecycle active
/sig stack-guidance
/assign

[2022-03-01 13:04] mayaCostantini commented on #274
/kind bug

[2022-03-01 13:13] mayaCostantini commented on #251
/close
See integration tests report for stage: `Integration tests update for ocp4-stage (2022-03-01 version 0.9.2)` at 1:03PM CEST

[2022-03-01 13:14] #251 closed

[2022-03-01 13:30] fridex opened #275 "Run integration-tests in parallel"
**Is your feature request related to a problem? Please describe.**

As of now, it takes more than 4 hours for integration-tests to finish. We should experiment running behave features in parallel.

[2022-03-01 16:41] mayaCostantini commented on #275
After research, we concluded that this will not be possible to implement unless if we want to stop using behave for testing, because there does not seem to be any stable or recent `behave-parallel` package available. Closing this issue.
/close

[2022-03-01 16:41] #275 closed

[2022-03-01 16:41] sesheta commented on #275
@mayaCostantini: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/275#issuecomment-1055636227):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2022-03-01 16:51] fridex opened #276 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2022-03-01 16:56] #276 closed

[2022-03-01 17:03] fridex opened #278 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-03-01 17:15] #278 closed

[2022-03-01 17:16] fridex opened #280 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.9.3

[2022-03-01 17:20] sesheta commented on #280
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/integration-tests:v0.9.3](https://quay.io/thoth-station/integration-tests:v0.9.3)

[2022-03-01 17:20] #280 closed

[2022-03-01 22:01] mayaCostantini commented on #274
/close

[2022-03-01 22:01] #274 closed

[2022-03-01 22:01] sesheta commented on #274
@mayaCostantini: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/274#issuecomment-1055903166):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2022-03-03 15:15] codificat commented on #259
/triage accepted

[2022-03-04 08:25] goern commented on #250
@fridex shall we turn your last comment into a feature request? It seems to trace back to https://github.com/thoth-station/storages/issues/2308 ?!

[2022-03-04 08:58] mayaCostantini commented on #265
/assign

[2022-03-04 14:09] fridex commented on #250
Yes, Kevin's PR could solve this.

[2022-03-07 11:13] mayaCostantini commented on #253
/kind bug
/assign

[2022-03-07 15:20] fridex commented on #266
Failing tests:

- [ ] runtime environment ps-cv-pytorch , without user stack supplied and without static analysis
- [ ] runtime environment ps-nlp-tensorflow , without user stack supplied and without static analysis
- [ ] runtime environment ps-nlp-pytorch , without user stack supplied and without static analysis
- [ ] runtime environment ps-nlp-tensorflow-gpu , without user stack supplied and wit

[2022-03-07 15:38] fridex commented on #266
thoth-solver fails to install jupyterlab-tensorboard with the following error:

[code]

[2022-03-07 15:52] fridex commented on #273
I don't see this issue in reports anymore. It looks like https://github.com/thoth-station/thamos/pull/1066 fix the issue.

/close

[2022-03-07 15:52] #273 closed

[2022-03-07 17:41] #259 closed

[2022-03-07 17:41] sesheta commented on #259
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/259#issuecomment-1060952478):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-03-07 18:54] fridex commented on #253
The first problem here was that we scaled down Argo's workflow controller because we run data aggregation using selinon. I've scaled up Argo deployment (and scaled down selinon deployment) which caused that workflows are now scheduled. However there is another issue:

[code]

[2022-03-07 20:01] fridex commented on #253
It looks like inspections finish, but there is another deployment issue:

[code]

[code]

[2022-03-08 10:31] goern commented on #253
looks like you are working on it @mayaCostantini ?
/lifecycle active

[2022-03-08 10:32] goern commented on #254
is this still valid? @fridex @mayaCostantini

[2022-03-08 10:32] goern commented on #255
is this still valide? @fridex

[2022-03-08 10:34] mayaCostantini commented on #254
@goern I don't see this issue anymore in stage reports so this should be good, @fridex wdyt?

[2022-03-08 10:34] fridex commented on #254
Yes, we can close this.

/close

[2022-03-08 10:34] #254 closed

[2022-03-08 10:34] sesheta commented on #254
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/254#issuecomment-1061634370):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-03-08 10:38] mayaCostantini commented on #253
@goern I think @fridex and @harshad16 are working on this as this is a deployment issue

[2022-03-08 17:59] #253 closed, assigned to mayaCostantini

[2022-03-08 18:09] fridex opened #288 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-03-08 18:11] fridex commented on #266
In the recent report, the adviser was able to find a resolution to this issue - that is using an older version of jupyter-tensorboard that does not perform any post-install procedure.

Closing this as integration tests are green. Nevertheless, we should report this upstream and see what their opinion is on this one.

/close

[2022-03-08 18:11] sesheta commented on #266
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/266#issuecomment-1062063803):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-03-08 18:25] #288 closed

[2022-03-08 18:30] fridex opened #290 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.10.0

[2022-03-08 18:36] sesheta commented on #290
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/integration-tests:v0.10.0](https://quay.io/thoth-station/integration-tests:v0.10.0)

[2022-03-08 18:36] #290 closed

[2022-03-08 19:48] harshad16 commented on #253
PR #287 also fixes this issue:
[code]

[dependency-monkey-220308141455-d2c59fcd85f210-3260034838-main.log](https://github.com/thoth-station/integration-tests/files/8209170/dependency-monkey-220308141455-d2c59fcd85f210-3260034838-main.log)

[2022-03-09 06:39] fridex opened #292 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-03-09 07:01] #292 closed

[2022-03-09 07:48] fridex commented on #250
Actually, Kevin's PR will fix another issue that we have - syncing results multiple times and updating package metadata.

There can be two reasons behind this failure:

1. middletier stage is used for data ingestion which means the solver scenario can timeout when we run solvers (solver triggered is queued and waits till the rest of workflows finish)
2. when a solver finishes, it is deleted from t

[2022-03-09 16:16] fridex commented on #250
A proposed fix:

1. keep this solver specific scenario enabled only for the prod environment - we want to have an ability to (re)solve urgent packages as per user requests
2. disable this solver scenario in the stage environment

[2022-03-09 19:01] mayaCostantini opened #295 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-03-09 19:13] #295 closed

[2022-03-09 19:54] mayaCostantini opened #297 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-03-09 20:17] #297 closed

[2022-03-09 20:21] khebhut[bot] opened #299 "Failed to update dependencies to their latest version for ubi8 environment"
Automatic dependency update failed for the current master with SHA 23014f0b64d02e89789d352c3ad1cd75c1ffdd85.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2022-03-09 20:21] sesheta commented on #299
@khebhut[bot]: The label(s) `/label thoth/potential-flake` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/moc-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, s

[2022-03-09 20:25] mayaCostantini opened #300 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.11.0

[2022-03-09 20:26] #299 closed

[2022-03-09 20:31] sesheta commented on #300
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/integration-tests:v0.11.0](https://quay.io/thoth-station/integration-tests:v0.11.0)

[2022-03-09 20:31] #300 closed

[2022-03-10 07:56] mayaCostantini commented on #265
/remove-priority-critical-urgent

[2022-03-10 08:05] mayaCostantini opened #301 "API schema is not validated for adviser scenario"
**Describe the bug**
Integration tests for the scenario `Run thamos advise on a Git repo` for `runtime environment ps-nlp-tensorflow-gpu , without user stack supplied and without static analysis` in stage raise an error related to the Open API schema failing to be validated:

[code]

**To Reproduce**
See last integration tests report.

[2022-03-10 08:06] mayaCostantini commented on #301
/assign @mayaCostantini
/priority critical-urgent
/lifecycle active
/kind bug

[2022-03-14 05:49] harshad16 commented on #225
The integration test seems to be functioning all green now in stage cluster.
closing the issue.

[2022-03-14 05:49] #225 closed

[2022-03-14 12:48] #301 closed

[2022-03-15 10:44] mayaCostantini commented on #250
The fix proposed by @fridex seems to have worked, can we close this issue?

[2022-03-15 10:50] fridex commented on #250
Yes, I think we can close it 👍🏻 Thanks!

/close

[2022-03-15 10:50] #250 closed

[2022-03-15 12:04] fridex opened #302 "Some integration-tests for smaug are red or can be turned off"
**Describe the bug**

See the most recent report from the smaug cluster. We should be able to reproduce the same quality of report for the smaug cluster as for the stage environment.

**To Reproduce**

See the most recent report for the smaug cluster.

For the test cases we do not want to run in smaug cluster, we should set up behave tags.

[2022-03-15 12:09] fridex commented on #302
**Failing tests**

- [ ] Scenario: Browsing logs of container images builds during Amun inspection jobs/Then wait for inspection to finish successfully
- [ ] Dependency Monkey tests
- [ ] Container image analysis
- [ ] Query for metadata for different indices for TensorFlow
- [ ] Querying for the known Python Package Indexes on User API - most probably requires update of the database
  - missing `

[2022-03-15 12:10] fridex commented on #302
/priority critical-urgent

[2022-03-15 20:36] mayaCostantini commented on #302
/assign

[2022-03-15 22:03] codificat commented on #302
/triage accepted

[2022-03-16 08:54] fridex commented on #302
Based on the discussion we had with @harshad16, we will point integration tests to prod instead of smaug so results will differ. Let's wait for the report sent.

[2022-03-17 09:44] fridex commented on #302
Related action item to be done first: https://github.com/thoth-station/thoth-application/issues/2451

[2022-03-28 19:20] Gregory-Pereira commented on #302
once the [documentation pr](https://github.com/thoth-station/thoth-application/pull/2460) gets merged, this will be no longer be blocked by [thoth-station/thoth-application#2451](https://github.com/thoth-station/thoth-application/issues/2451).

[2022-04-04 07:32] mayaCostantini opened #305 "Adviser tests are failing in stage because of `count` query parameter still present"
**Describe the bug**

The `count` parameter seems to be still present when querying the adviser endpoint in stage. We removed `count` and `limit` from the OpenAPI specification: https://github.com/thoth-station/user-api/pull/1727. We should remove this parameter as well as `limit` from the query.

**To Reproduce**

See the latest integration tests report for the stage environment.

**Additional co

[2022-04-04 07:33] mayaCostantini commented on #305
/kind bug
/priority critical-urgent

[2022-04-06 06:42] mayaCostantini opened #309 "RuntimeError: provenance-checker took too much time to finish on stage"
**Describe the bug**
Provenance-checker is taking too much time to finish for both scenarios tested (`When thamos provenance-check is run for provenance_flask / provenance_flask_error asynchronously`).

**To Reproduce**
See latest integration tests report for stage.

**Expected behavior**
Provenance-checks finish on time.

[2022-04-06 06:43] fridex commented on #309
Could the pod issues in the cluster (pods not spawned) be the reason behind this?

[2022-04-06 06:44] #305 closed

[2022-04-06 06:47] mayaCostantini commented on #309
Yes, that's probably the reason as this error seems to have appeared at the same time as the cluster issue.

[2022-04-06 06:50] mayaCostantini commented on #309
Let's keep this open for now and I will close it when the corresponding tests are green again 👍🏻 Thanks @fridex !
/kind bug

[2022-04-06 06:52] mayaCostantini opened #311 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-04-11 19:24] fridex opened #313 "Integration tests in stage fail on `count`"
**Describe the bug**

Check the most recent stage integration test results and see all adviser scenarios failing. The issue seems to be backward incompatible change in user-api that dropped `count` and `limit` parameters in more recent versions.

[2022-04-11 19:25] fridex commented on #313
As discussed on the SIG stack guidance, we could also print version information to logs using `thamos version`. This way, we will have information on thamos CLI version and user-api version accessible in logs.

[2022-04-11 19:29] mayaCostantini commented on #313
/sig stack-guidance
/assign

[2022-04-12 12:13] fridex opened #316 "Integration tests fail for dependency monkey in ocp4-stage"
**Describe the bug**

See one of the recent integration-tests reports:
[code]

**Expected behavior**

Dependency monkey integration tests should be green.

**Additional context**

This looks like an issue related to recent adjustments to the API schema.

[2022-04-12 12:13] fridex commented on #316
/sig stack-guidance

[2022-04-12 12:26] fridex commented on #316
/kind bug

[2022-04-12 12:30] mayaCostantini commented on #316
The logs from the `management-api-1386-vktlp` in stage indicate that the version of `management-api` used is still `v0.18.2` whereas the change in the schema was introduced in [`v0.18.3`](https://github.com/thoth-station/management-api/pull/881#issue-1195906834):

[code]

[2022-04-12 15:33] mayaCostantini opened #317 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-04-12 18:18] #317 closed

[2022-04-13 10:04] harshad16 commented on #309
The staging cluster runs data ingestion workloads like solver, a security indicator, and rev-solver runs. The whole middle-tier namespace is most of the time occupied by these workloads.
The provenance check test would also execute in this namespace, as the namespace is occupied the kafka message is kept on the pending state before getting consumed.
We should turn of provenance check test in stage

[2022-04-13 10:16] fridex commented on #309
Provenance checks are executed in the backend namespace, similarly to adviser runs.

[2022-04-13 10:17] harshad16 commented on #309
Oh my bad, i will investigate then what is hindering its execution.

[2022-04-13 10:43] harshad16 commented on #309
Investigating trigger provenance run via cli

Checking the whole pipeline:
1. Provenance triggered from integration-tests:
![provenance-triggered](https://user-images.githubusercontent.com/14028058/163162555-3b631ab1-f9af-42ae-a624-c0b125d90aa5.png)
2. user-api receives the request successfully and pass the message to kafka
![post-provenance](https://user-images.githubusercontent.com/14028058/1631

[2022-04-13 10:52] harshad16 commented on #309
Better is back, after syncing the investigator deployment.
http://investigator-faust-web-thoth-infra-stage.apps.ocp4.prod.psi.redhat.com/metrics

all metrics looks good, the consumption of provenance message is not halted from looks of the metrics

[2022-04-13 10:57] harshad16 commented on #309
Investigator v0.16.0 is not able to consume provenance kafka messages and schedule workload.
http://investigator-faust-web-thoth-infra-stage.apps.ocp4.prod.psi.redhat.com/metrics
Tested with: https://stage.thoth-station.ninja/api/v1/provenance/python/provenance-checker-220413103246-afc8d63e2ac31a4f

[2022-04-18 16:37] harshad16 commented on #309
i have tested this in prod setup, it works without any issue:
[code]

still investigating on stage.

[2022-04-18 17:01] harshad16 commented on #309
The Kafka topics in the stage were outdated, updated them by recreating it.
It has allowed the investigator to provision the provenance_check.
[code]

[2022-04-18 17:08] harshad16 commented on #309
![provenance](https://user-images.githubusercontent.com/14028058/163844818-60593868-61bb-4556-9bb8-74451150ec19.png)

This is fixed in stage.
Please take your time in verifying this.

The `thoth-backend-stage` namespace gets busy with the kebechet-administration runs.
please check the argo-workflows scheduled.
can use this command:  `oc get wf -n thoth-backend-stage`

[2022-04-19 12:18] mayaCostantini commented on #316
/lifecycle active
/triage accepted
/assign

[2022-04-24 16:14] sesheta commented on #171
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-03 15:07] fridex commented on #266
/reopen

[2022-05-03 15:07] sesheta commented on #266
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/266#issuecomment-1116210197):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2022-05-03 16:54] fridex commented on #313
This looks like fixed with the referenced PRs.

/close

[2022-05-03 16:54] #313 closed

[2022-05-03 16:54] sesheta commented on #313
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/313#issuecomment-1116328254):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-05-04 07:16] mayaCostantini commented on #309
I scheduled a provenance-check in the stage cluster and it completed successfully. The workflow is also present in the `thoth-backend-stage` namespace. Thanks a lot Harshad for the investigation :100: :+1:

@fridex would you like to verify that everything is working again before closing the issue?

[2022-05-09 10:03] codificat commented on #302
/sig devsecops

[2022-05-09 11:10] fridex commented on #309
I can confirm the provenance-checks now work properly. Hence closing this issue. Fixed. Thanks! 👍🏻

/close

[2022-05-09 11:10] #309 closed

[2022-05-09 11:10] sesheta commented on #309
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/309#issuecomment-1120962007):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-05-09 12:12] codificat commented on #302
actually this is
/sig stack-guidance
to confirm the status of the various failing scenarios

[2022-05-09 12:20] codificat commented on #266
Today's aws-prod tests show green.
Worth ensuring stage tests are also green

[2022-05-09 12:25] codificat commented on #266
/assign @fridex
/lifecycle active

[2022-05-09 12:27] fridex commented on #266
Scheduled integration-tests for stage, we should receive an email report after the integration tests finish.

[2022-05-15 19:15] sesheta commented on #240
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-16 11:44] goern commented on #240
/remove-lifecycle stale
/kind feature
/priority important-soon
/sig stack-guidance

[2022-06-06 13:00] sesheta commented on #255
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-08 06:53] mayaCostantini opened #324 "Advise tests are failing on ocp4-stage because advise documents are still being processed"
**Describe the bug**

See last integration-tests results for `ocp4-stage (2022-06-08 version 0.11.2)`:

[code]

Querying the advise document with id `adviser-220608025846-adbb4959f5e011e8` on the user API shows that it is still being queued for processing.

**Expected behavior**

Advise documents are processed on time.

[2022-06-08 06:53] mayaCostantini commented on #324
/priority critical-urgent
/sig stack-guidance
/kind bug

[2022-06-08 07:50] mayaCostantini commented on #324
Same situation for provenance-check reports:

[code]

[2022-06-08 09:24] fridex commented on #324
This response is expected (check also HTTP status code). It looks like there was a request to obtain the given provenance-checker document, but it hasn't been created yet. provenance-checker checker was scheduled and queued to produce the given document.

[2022-06-08 09:40] mayaCostantini commented on #324
Agree :+1: I opened this issue to track if we lacked resources or if there was any issue creating the documents in time for integration test to pass

[2022-06-08 09:48] mayaCostantini commented on #324
Ah sorry I got confused with status codes. Right, thanks for pointing it out!

[2022-06-08 10:01] sesheta commented on #265
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-25 21:41] sesheta commented on #171
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-25 21:41] #171 closed

[2022-06-25 21:41] sesheta commented on #171
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/171#issuecomment-1166366010):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2022-06-27 12:56] codificat commented on #266
Right now, integration tests in stage are not running (https://github.com/thoth-station/thoth-application/issues/2599)
/remove-lifecycle active
until this is addressed

[2022-06-28 14:25] codificat commented on #266
In yesterday's run of the integration tests in aws-prod, one of the adviser tests failed (`ps-cv-pytorch`):

[code]

[2022-07-05 14:25] codificat commented on #266
Another anecdotal update: yesterday's aws-prod integration test runs have 2 tests failing due to allocated CPU time exceeded: `ps-cv-pytorch` and `ps-cv-tensorflow`

[2022-07-08 12:50] sesheta commented on #265
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-11 08:31] mayaCostantini opened #329 "Provenance checks do not finish on time (aws-prod)"
**Describe the bug**

See integration tests report for aws-prod (2022-07-11 version 0.11.2):

[code]

For both `provenance_flask` and `provenance_flask_error` test cases.
It looks like provenance checks are not being scheduled despite the status message:

[code]

(See Argo UI for aws-prod).

**Expected behavior**

Provenance-checks are scheduled and finish on time.

[2022-07-11 08:31] mayaCostantini commented on #329
/kind bug
/priority critical-urgent
/sig stack-guidance

[2022-07-13 08:45] mayaCostantini opened #330 "503 error for advise and provenance check tests on ocp4-stage"
**Describe the bug**

From integration tests update for ocp4-stage (2022-07-13 version 0.11.2):

[code]

**To Reproduce**
See last integration tests report for stage environment.

[2022-07-13 08:46] mayaCostantini commented on #330
/kind bug
/sig devsecops
/priority critical-urgent

[2022-07-18 13:04] sesheta commented on #316
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-05 18:45] sesheta commented on #255
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-05 18:45] #255 closed

[2022-08-05 18:45] sesheta commented on #255
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/255#issuecomment-1206751605):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2022-08-07 13:06] sesheta commented on #302
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-09 06:59] harshad16 opened #334 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-08-09 07:02] #334 closed

[2022-08-09 17:47] harshad16 commented on #302
/remove-lifecycle stale
/lifecycle frozen

[2022-08-09 17:47] harshad16 commented on #316
/remove-lifecycle stale
/lifecycle frozen

[2022-08-29 19:54] harshad16 opened #336 "integration-tests on email are not rendering in html format within the gmail interface"
**Describe the bug**
integration-tests reports on email are not rendering in HTML format

![Screenshot from 2022-08-29 15-52-49](https://user-images.githubusercontent.com/14028058/187286536-008a51b7-c95c-42db-9873-99809130fe92.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Check the integration-tests response on email
2. See error

**Expected behavior**
Rendered in html format.

[2022-09-06 10:09] sesheta commented on #324
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-12 08:01] mayaCostantini opened #337 "Fail to check for minimum solvers available in aws-prod"
**Describe the bug**

From Integration tests update for aws-prod (2022-09-12 version 0.11.3):

[code]

[2022-09-12 08:01] mayaCostantini commented on #337
/kind bug
/sig stack-guidance
/priority critical-urgent

[2022-09-13 12:45] codificat opened #340 "Add OS-Climate demo git repo to integration tests"
**Is your feature request related to a problem? Please describe.**

As a Thoth developer I would like to ensure that the service being provided is and remains usable by "real-world" use cases.

For that, it might be good to add some "real-world" repository to the list of repos with which we run integration tests.

**High-level Goals**

Have relevant OS-Climate repositories be checked for thoth adv

[2022-10-03 17:08] sesheta commented on #266
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-04 03:45] harshad16 commented on #324
/remove-lifecycle stale
/lifecycle frozen

[2022-10-04 03:45] harshad16 commented on #266
/remove-lifecycle stale
/lifecycle frozen

[2022-10-10 12:00] goern opened #345 "`thamos images` errors"
thamos advise throws an error:

/kind bug

[2022-10-10 14:57] codificat commented on #345
is it `thamos advise` or `thamos images` (mentioned in the title)?

An example command invocation (and config?) that reproduces the problem would help

which error?

Can we have some more context?

[2022-10-10 14:57] codificat commented on #345
/triage needs-information

[2022-10-10 18:26] goern opened #347 "`thamos images` errors"
thamos advise throws an error:

/kind bug

[2022-10-10 18:27] goern commented on #347
/close

[2022-10-10 18:27] sesheta commented on #347
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/integration-tests/issues/347#issuecomment-1273672890):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-10-10 18:27] #347 closed

[2022-10-10 18:28] goern commented on #345
it is `images`:
[code]

[2022-10-11 08:49] codificat commented on #345
The bug is `thamos` not handling pagination and 404/NotFound gracefully enough.

Note the request is for page 3 when there is no page 3:

[code]

/transfer thamos

The user API started returning a 404 in this situation starting in v0.35.6 after this change: https://github.com/thoth-station/user-api/commit/ab32cad162d93e61454e5629c5b6ee2efd417510#diff-0c1d9c73b678717b9143917cfc52d1fccbfcdf488adb237

[2022-10-11 10:13] codificat opened #348 "Need a test for `thamos images`"
`thamos images` stopped working correctly after a change in user-api (https://github.com/thoth-station/thamos/issues/1184) and this is not captured by current integration tests.

The current integration tests include [containe images API](https://github.com/thoth-station/integration-tests/blob/master/features/container_images.feature) coverage but not from `thamos`.

[2022-10-11 10:22] VannTen commented on #348
Could'nt we have a automatic PR generating the thamos openapi client when the relevant user-api is updated, and let the usual ci (mypy in particular for catching bad usages) point us to fixes ?

[2022-10-11 11:14] codificat commented on #348
That would be nice to have, but we don't have anything similar available yet, right?

Would mypy catch this particular issue though? I think the problem in [the code involved](https://github.com/thoth-station/thamos/blob/4536f4d67e362107a2d40ceaef34901365148a1c/thamos/lib.py#L1316-L1329) in thoth-station/thamos#1184 is more semantic/logic than what mypy would catch, no?

[2022-10-11 12:37] VannTen commented on #348
On Tue, Oct 11, 2022 at 04:14:45AM -0700, Pep Turró Mauri wrote:

I don't know swapper-codegen enough, but in principle it's possible to
represent a 404 as Optionnal/Union/ that sort of things (maybe I'm a bit
optimistic on the general support of typing across the Python ecosystem
^).

Missing that, just opening a PR automatically would still be good:
during review, we would have the opportunity t

[2022-10-18 08:17] goern commented on #348
/assign

[2022-10-18 19:41] harshad16 commented on #337
Verified this.
The content exists on the API: `https://api.moc.thoth-station.ninja/api/v1/python/environment`
and the integration-tests instance seems to be working.
[code]

seems like this would have happen, when user-api lost connection to PostgreSQL db.
for now it seems to be fixed.
closing this.

[2022-10-18 19:41] #337 closed

[2022-10-19 10:53] goern opened #352 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-10-19 10:56] goern commented on #348
do we turn this into a RFE (wrt openapi regeneration...) and close this because auf #351  ?

@VannTen @codificat

[2022-10-19 11:06] #352 closed

[2022-10-19 11:41] VannTen commented on #348
It might be in a separate issue. I think a integration test for `thamos images` is easier than automatic openapi regeneration, and it can probably catch other things.

[2022-11-07 18:58] harshad16 commented on #329
Verified this.
- Requested provenance for standard example:
`https://khemenu.thoth-station.ninja/api/v1/provenance/python?origin=git%40github.com%3Athoth-station%2Fadviser.git&debug=false&force=false`
- Works correctly:
[code]

Verified the integration tests as well, it works successfully without any issues.

![Screenshot from 2022-11-07 13-53-51](https://user-images.githubusercontent.com/14028058

[2022-11-07 18:58] #329 closed

[2022-11-21 14:18] harshad16 commented on #336
![Screenshot from 2022-11-21 09-18-21](https://user-images.githubusercontent.com/14028058/203077571-c0b6d280-a41c-4f6d-a76a-733498a92f4e.png)